# Entorno virtual
.venv/
env/

# Archivos temporales
__pycache__/
*.pyc
*.pyo
*.log

# Dataset y datos grandes
dataset/
data/
data_yolo_pothole/
runs/
YOLOv8/

# Modelos y pesos
*.pt
*.pth
*.onnx
models/

# Desplegables: permitir subir artefactos necesarios
!deploy/
!deploy/**

# Permitir scripts
!scripts/
!scripts/**

# Archivos de sistema
.DS_Store
Thumbs.db

# Config local
.vscode/

